@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 300;
  color-scheme: light dark;
  background-color: #10131d;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 1s ease, color 2s ease;
}

.light-theme {
  background-color: #ffffff;
  color: rgb(24, 38, 57);
  transition: background-color 1s ease, color 2s ease;
}

.main-title {
  font-size: 10rem;
  font-family: 'Josefin Sans Variable', sans-serif;
  font-weight: 400;
}

@media (min-width: 1400px) {
  h1.main-title {
    font-size: 12rem;
  }
}

@media (max-width: 1100px) {
  h1.main-title {
    font-size: 8rem;
  }
}

@media (max-width: 1000px) {
  h1.main-title {
    font-size: 8rem;
  }
  h2.text-end {
    font-size: 1rem;
  }
}
@media (max-width: 950px) {
  h1.main-title {
    margin-top: 5%;
    font-size: 7rem;
  }
}

@media (max-width: 768px) {
  h1.main-title {
    font-size: 6rem;
  }
}

.text-end {
  font-size: 1.25rem;
}

.hero {
  height: 75svh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title-container {
  height: 80%;
}

.down-arrow {
  animation: jumpInfinite 1.5s infinite;
}

@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 20px;
  }
  100% {
    margin-top: 0;
  }
}

.about-small p{
  text-align: center;
  text-wrap: balance;
  font-size: 1.5rem;
  line-height: 4rem;
}

@media (max-width: 600px) {
  .about-small p{
    font-size: 1.2rem;
    line-height: 2.5rem;
  }
}

ul, li {
  list-style-type:none;
}

textarea {
  vertical-align: top
}

.send-button {
  text-decoration: none;
  text-align: center;
  padding: 12px;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
  background: transparent;
  transition: color .35s, background-color .1s;
}

.send-button:before,
.send-button:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  z-index: -1;
  background-color: #ffffff;
  transition: all .2s;
}

.send-button:after {
  transition-delay: .1s;
}

.send-button:hover {
  color: #000000;
}

.send-button:hover:before,
.send-button:hover:after {
  top: 0;
}

.send-button:active {
  transform: scale(0.9);
}

.border-animation {
  --border-width: 0.2em;
  --animation-speed: 0.4s;
  --color: #fff;
  color: var(--color);
  position: relative;
  border-bottom: var(--border-width) solid white;
}

.border-animation input,
.border-animation textarea {
  background-color: #080a10;
  color: #ffffff;
}

.border-animation .border-animation__inner {
  position: relative;
  width: 100%;
  cursor: pointer;
  background: #10131d;
  z-index: 1;
}

.border-animation:before,
.border-animation:after {
  content: '';
  position: absolute;
  background: var(--color);
}

.border-animation:focus-within:before {
  animation: beforeBorders var(--animation-speed) forwards ease-in-out;
}

.border-animation:focus-within:after{
  animation: afterBorders var(--animation-speed) forwards ease-in-out;
}

.border-animation:focus-within  {
  animation: borderColors var(--animation-speed) steps(1) forwards;
  outline: none;
}

.border-animation:focus-within .border-animation__inner {
  animation: background calc(var(--animation-speed) / 5 * 3) forwards ease-in-out;
  animation-delay: calc(var(--animation-speed) / 5 * 2);
}

@keyframes beforeBorders {
  0% {
      bottom: calc(var(--border-width) * -1);
      left: 50%;
      top: auto;
      right: auto;
      width: 0;
      height: var(--border-width);
  }
  33% {
      bottom: calc(var(--border-width) * -1);
      left: calc(var(--border-width) * -1);
      top: auto;
      right: auto;
      width: calc(var(--border-width) + 50%);
      height: var(--border-width);
  }
  66% {
      bottom: calc(var(--border-width) * -1);
      left: calc(var(--border-width) * -1);
      top: auto;
      right: auto;
      width: var(--border-width);
      height: calc((var(--border-width) * 2) + 100%);
  }
  100% {
      bottom: auto;
      left: calc(var(--border-width) * -1);
      top: calc(var(--border-width) * -1);
      right: auto;
      width: calc(var(--border-width) + 50%);
      height: calc((var(--border-width) * 2) + 100%);
  }
}

@keyframes afterBorders {
  0% {
      bottom: calc(var(--border-width) * -1);
      left: auto;
      top: auto;
      right: 50%;
      width: 0;
      height: var(--border-width);
  }
  33% {
      bottom: calc(var(--border-width) * -1);
      left: auto;
      top: auto;
      right: calc(var(--border-width) * -1);
      width: calc(var(--border-width) + 50%);
      height: var(--border-width);
  }
  66% {
      bottom: calc(var(--border-width) * -1);
      left: auto;
      top: auto;
      right: calc(var(--border-width) * -1);
      width: var(--border-width);
      height: calc((var(--border-width) * 2) + 100%);
  }
  100% {
      bottom: auto;
      left: auto;
      top: calc(var(--border-width) * -1);
      right: calc(var(--border-width) * -1); 
      width: calc(var(--border-width) + 50%);
      height: calc((var(--border-width) * 2) + 100%);
  }
}

@keyframes borderColors {
  0% {
      border-bottom-color: var(--color);
      border-left-color: transparent;
      border-top-color: transparent;
      border-right-color: transparent;
  }
  33% {
      border-bottom-color: var(--color);
      border-left-color: transparent;
      border-top-color: transparent;
      border-right-color: transparent;
  }
  66% {
      border-bottom-color: var(--color);
      border-left-color: var(--color);
      border-top-color: transparent;
      border-right-color: var(--color);
  }
  100% {
      border-bottom-color: var(--color);
      border-left-color: var(--color);
      border-top-color: var(--color);
      border-right-color: var(--color);
  }
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-template-rows: 1fr;
  gap: 16px;
}

.project-preview {
  height: 100%;
  padding: 10px;
  background: rgba(101, 101, 101, 0.4);
  border-radius: 16px;
  border: 1px solid rgba(255,255,255,0.4);
  color:white;
  z-index:1;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  font-size: 1.2rem;
}
@media (max-width: 750px) {
  .projects-grid {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
  .project-preview {
    font-size: 1rem;
  }
  p.project-content {
    font-size: 1rem;
    line-height: 2rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 400px) {
  .projects-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .project-preview {
    font-size: 1rem;
  }
}

.selected-image {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}

.close-button {
  cursor: pointer;
}

.video-thumbnail {
  border-radius: 12px;
  height: 375px;
  object-fit: cover;
}

.image-thumbnail {
  border-radius: 12px;
  object-fit: contain;
}

.video-full {
  border-radius: 20px;
  margin-bottom: 6rem;
  border: 1px solid rgba(255,255,255,0.4);
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.project-button {
  background-color: rgb(239, 239, 239);
  border-radius: 10px;
  color: rgb(45, 45, 45);
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 16px;
  list-style: none;
  margin: 0;
  padding: 10px 16px;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  transition: background-color 0s;
}

.project-button:hover {
  background-color: rgb(209, 233, 254);
}

.project-header {
  margin-bottom: 1.25rem;
}

.header-font {
  font-family: 'Lora', serif;
}

.project-content {
  line-height: 5rem;
  margin-bottom: 5rem;
}

.more-links {
  margin: 1rem 0px;
}

.project-details-full {
  font-size: 1.5rem;
}

img.me {
  border-radius: 50%; 
  width: 200px;
  height: 200px;
  object-fit: cover;
  flex-shrink: 0;
  -webkit-box-shadow: 0 0 0 8px #242b41;
  -moz-box-shadow: 0 0 0 8px #242b41;
  box-shadow: 0 0 0 8px #242b41;
}

@media (max-width: 1000px) {
  h1#name {
    font-size: 4.5rem;
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 768px) {
  div h1#name {
    font-size: 4rem;
    margin-bottom: 1.5rem;
  }
  div.portrait-container {
    position: relative;
  }
  
  div.about-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    padding: 0px 15px;
  }
}

#name {
  font-size: 6rem;
}

.portrait-container  {
  width: 300px;
  height: 300px;
  flex-shrink: 0;
}

.portrait-container p {
  text-wrap: balance;
}

.about-container {
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 3rem;
}

.about-text {
  width: 450px;
  animation: fadeIn 1s ease-in-out;
}

.about-text p {
  font-size: 1.5rem;
  line-height: 4rem;
  margin-bottom: 3rem;
}

.footer {
  width: 100%;
  font-size: 1rem;
}

.footer-email {
  font-size: 1.4rem;
  text-decoration: underline;
}

@media (max-width: 500px) {
  div.about-text {
    width: 350px;
  }
  div.about-text p {
    font-size: 1.2rem;
    line-height: 3rem;
    margin-bottom: 3rem;
  }
  .footer-email {
    font-size: 1rem;
  }
  div.portrait-container p{
    font-size: 0.75rem;
  }
  img.me {
    width: 150px;
    height: 150px;
  }
  div.portrait-container {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 400px) {
  div.about-text {
    width: 250px;
  }
  div.about-text p {
    font-size: 1rem;
    line-height: 2rem;
    margin-bottom: 2rem;
  }
}

.contact {
  min-height: 80svh;
}

.contact-email {
  font-size: 1.2rem;
}

.contact-grid h1 {
  font-size: 2.5rem;
}

.contact-grid h2 {
  font-size: 1.75rem;
}

.contact-grid h3 {
  font-size: 1.2rem;
}

.contact-grid .socials {
  font-size: 1.5rem;
}

.contact-grid li span {
  font-size: 1rem;
}

.contact-grid form, .contact-grid p {
  font-size: 1.2rem;
}

.contact-grid form{
  max-width: 95%;
}
